#editor {
  counter-reset: line;
}

#editor > div {
  white-space: pre;
  font-size: 18px;
}

#editor > div::before {
  content: counter(line);
  counter-increment: line;
  color: #ccc;
  padding-right: 10xp;
  display: inline-block;
  width:3%;
  text-align: left;
}