#editor {
  counter-reset: line;
}

#editor div::before {
  content: counter(line);
  counter-increment: line;
  padding-right: 10px;
  text-align: right;
  display: inline-block;
  width: 30px;
  color: #999;
}
